@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

.bg-hero-section {
    background-image: url('../images/hero-section-bg.png');
}

.bg-reason-section {
    background-image: url('../images/reason-section-bg.png');
}

.swiper-pagination-bullet {
    position: relative;
}

.swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 10px !important;
}

.case-study .swiper-pagination-bullet-active::before {
    border: 1px solid #57585A;

}

.case-study .swiper-pagination-bullet {
    background-color: white;
}

.case-study .swiper-pagination-bullet-active {
    background-color: blue !important;
}